.jumbotron {
  padding: 30px;
}

h1 {
  text-align: center;
}

footer {
  text-align: right;
}

.age {
  margin-left: 400px;
}

#test {
  display: none;
}

.question {
  display: none;
  margin-left: 400px;
}

